.entry {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.entry .container {
  min-height: 85%;
  overflow: hidden;
}

.entry .container::after {
  position: absolute;
  content: "";
  display: block;
  height: 100%;
  width: 60%;
  right: -100px;
  top: 0;
  transform: skewX(-12deg);
  background: var(--primary-gradient);
}

.entry-heading {
  font-size: 35px;
}

.entry-heading span {
  font-weight: 600;
  color: var(--primary-color);
}

.entry-img {
  width: 65%;
}

.login,
.signup {
  position: relative;
  z-index: 1;
}

.entry-form-heading {
  font-size: 11px;
  color: var(--secondary-color);
}

.input-box {
  width: 300px;
  display: flex;
  align-items: center;
  height: 40px;
  margin-bottom: 15px;
  padding: 0 25px;
  overflow: hidden;
}

.country-box{
  font-size: 12px;
  margin-right: 5px;
  height: fit-content;
  display: flex;
  align-items: center;
  min-width: 70px;
  color: #444;
  cursor: pointer;
}

.input-box input {
  height: 100%;
  flex: auto;
  font-size: 12px;
  font-weight: 500;
  background: transparent;
}

.input-box .icon {
  height: 100%;
  width: 15px;
  font-size: 18px;
  color: var(--faded-text);
  display: flex;
  align-items: center;
  margin-right: 8px;
}

.input-box .show-password-btn {
  color: var(--placeholder-color);
}

.submit-btn {
  height: 35px;
  width: 85px;
  font-weight: 700;
  color: var(--primary-color);
  background: var(--secondary-color);
}

.dob-day,
.dob-month,
.dob-year {
  background-color: var(--secondary-color);
  border: 2px solid var(--primary-color);
  height: 90% !important;
  border-radius: 5px;
  width: 50px !important;
  flex: none !important;
  flex-shrink: 0;
  margin: 0 5px;
  text-align: center;
}

.dob-year {
  width: 60px !important;
}

.dp-upload {
  height: 60% !important;
}

.note {
  font-size: 12px;
  position: relative;
  z-index: 1;
  font-weight: 600;
}

.note a {
  
  color: var(--secondary-color);
}
