.settings-container {
  right: -10px;
  bottom: 50px;
  transform: translateX(100%);
  width: fit-content;
  height: auto;
  background: var(--secondary-color);
  z-index: 3;
  border:1px solid var(--primary-color);
  white-space: nowrap;
}

.settings-container::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  left: -8px;
  bottom: 17px;
  background-color: white;
  transform: rotate(45deg);
  border:1px solid var(--primary-color);
  border-right: none;
  border-top: none;
}

.settings-container button {
  position: relative;
  z-index: 1;
  font-size: 14px;
}

.settings-container button:hover {
  background-color: var(--white-hover);
}

.settings-container button i {
  font-size: 14px;
  width: 15px;
}
